.cube{
    width: 100px;
    height: 100px;
    background-color: black;
    background-size: cover;
    color: bisque;
    line-height: 100px;
    /* padding: 20px; */
    /* padding: 20px 40px; */
}